@use "../abstracts/index" as *;

._input {
  width: 100%;
  background-color: $input-background;
  color: colorize("gray", 100);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  border: 1px solid transparent;
  @include border-radius(0.5rem);

  &:focus {
    border-color: $input-border;
  }
}

._input-label {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: colorize("gray", 10);
  display: inline-block;
  width: 100%;
}

._input-select-container {
  position: relative;
  width: 100%;

  & > ._input-select-search {
    width: 100%;
    position: sticky;
    background-color: $input-background;
    top: 0;
    padding: 0.5rem 0.75rem;
    @include transform(translateY(-0.5rem));

    & input {
      border-color: $input-border !important;
    }
  }

  & [data-dropdown-open] {
    position: absolute;
    z-index: 10;
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-block: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    top: 3.3rem;
    left: 0;
    color: colorize("gray", 100);
    background-color: $input-background;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & ._dropdown-item {
      text-align: left;
      padding: 0.375rem 0.5rem;
      font-size: 0.875rem;
      font-weight: 600;
      @include border-radius(0.25rem);
      @include transition(all 300ms ease-out);
      &[data-active="true"],
      &:hover {
        background-color: colorize("primary", "base");
        color: colorize("gray", 10);
      }
    }
  }

  & [data-dropdown-open="false"] {
    pointer-events: none;
    z-index: 0;
  }
}
