@use "../abstracts/index" as *;

table.table-fixed {
  margin-bottom: 1rem;
}

.table-fixed th {
  border: 1px solid colorize("gray", 30);
  background-color: $background;
  padding: 1rem;
}

.table-fixed td {
  border: 1px solid colorize("gray", 30);
  padding: 0.5rem;
  min-width: 10rem;
  overflow-wrap: break-word;
}
