@use "../abstracts/index" as *;

table.table-fixed {
  margin-bottom: $table-mb;
}

.table-fixed th {
  border: $table-cell-border;
  background-color: $table-cell-background;
  padding: $table-th-padding;
}

.table-fixed td {
  border: $table-cell-border;
  padding: $table-td-padding;
  min-width: $table-td-min-width;
  overflow-wrap: break-word;
}
