// BASE COLOR
$primary-base: #4caf50 !default;
$primary-light: #81c784 !default;
$primary-dark: #388e3c !default;

$danger-base: #e03131 !default;
$danger-light: #ffc9c9 !default;
$danger-dark: #c92a2a !default;

$warning-base: #f08c00 !default;
$warning-light: #ffec99 !default;
$warning-dark: #e67700 !default;

$info-base: #22b8cf !default;
$info-light: #99e9f2 !default;
$info-dark: #15aabf !default;

$gray-base: #495057 !default;
$gray-10: #f3f3f3;
$gray-light: #e9ecef !default;
$gray-30: #c9c9c9;
$gray-dark: #343a40 !default;
$gray-100: #191919 !default;

$theme-colors: (
  primary: $primary-base,
  primary-base: $primary-base,
  primary-light: $primary-light,
  primary-dark: $primary-dark,
  warning: $warning-base,
  warning-base: $warning-base,
  warning-light: $warning-light,
  warning-dark: $warning-dark,
  danger: $danger-base,
  danger-base: $danger-base,
  danger-light: $danger-light,
  danger-dark: $danger-dark,
  info: $info-base,
  info-base: $info-base,
  info-light: $info-light,
  info-dark: $info-dark,
  gray: $gray-base,
  gray-base: $gray-base,
  gray-10: $gray-10,
  gray-light: $gray-light,
  gray-30: $gray-30,
  gray-dark: $gray-dark,
  gray-100: $gray-100,
) !default;
// BASE COLOR

// CONTAINER COLOR
$background: #121212 !default;
$foreground: #1f1f1f !default;
// CONTAINER COLOR
