@use "./variables/colors" as *;

:root {
  /* basic color */
  --background: #{$background};
  --foreground: #{$foreground};
  --primary: #{$primary-base};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};
  --warning: #{$warning-base};
  --warning-light: #{$warning-light};
  --warning-dark: #{$warning-dark};
  --danger: #{$danger-base};
  --danger-light: #{$danger-light};
  --danger-dark: #{$danger-dark};
  --warning: #{$warning-base};
  --warning-light: #{$warning-light};
  --warning-dark: #{$warning-dark};
  --info: #{$info-base};
  --info-light: #{$info-light};
  --info-dark: #{$info-dark};
  --gray: #{$gray-base};
  --gray-light: #{$gray-light};
  --gray-dark: #{$gray-dark};
  /* basic color */

  /* navigation */
  --sidebar: #{$foreground};
  --sidebar-foreground: #{$primary-base};
  --navbar: #{$foreground};
  /* navigation */

  /* scrollbar */
  --scrollbar-thumb-color: #{$foreground};
  --scrollbar-track-color: #444444;
  --scrollbar-hover-color: #{$foreground};
  /* scrollbar */

  /* Input Text */
  --input-background: #f3f3f3;
  --input-color-text: #{$foreground};
  --input-focus-border: #{$primary-base};
  /* Input Text */

  /* Colors */
  --clr-primary: #{$primary-base};
  --clr-primary-light: #{$primary-light};
  --clr-primary-hover: #{$primary-dark};
  --clr-danger: #{$danger-base};
  --clr-danger-hover: #{$danger-dark};
  /* Colors */

  /* Skeleton color */
  --skeleton-before: #525252;
  --skeleton-after: #2b2b2b;
  /* Skeleton color */
}
