@use "../../abstracts/index" as *;

._layout {
  z-index: 30;
  padding: $layout-padding;
  margin-inline: auto;
  @include transition($layout-transition);

  &[data-sidebar-open="true"] {
    padding-left: $sidebar-width + $layout-padding;
  }
}
