@use "../../abstracts/index" as *;

._navbar {
  z-index: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-background;
  padding: $navbar-padding;
  color: $navbar-color;

  @include transition($navbar-transition);

  &[data-sidebar-open="true"] {
    padding-left: $sidebar-width + $layout-padding;
  }
}
