@use "../../abstracts/index" as *;

._sidebar {
  color: colorize(gray, 10);
  overflow-y: auto;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100dvh;
  width: $sidebar-width;
  background-color: $foreground;

  transition: transform 500ms ease-out;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -ms-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;

  &[data-sidebar-close="false"] {
    transform: translateX(-$sidebar-width);
    -webkit-transform: translateX(-$sidebar-width);
    -moz-transform: translateX(-$sidebar-width);
    -ms-transform: translateX(-$sidebar-width);
    -o-transform: translateX(-$sidebar-width);
  }
}

._sidebar-cover {
  width: 0;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: colorize("gray", 100);
  opacity: 0.8;

  filter: blur(20px);
  -webkit-filter: blur(20px);

  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;

  &[data-sidebar-open="true"] {
    width: 100%;
  }
}

._sidebar-item-active {
  display: flex;
  width: 100%;
  column-gap: 0.5rem;
  background-color: colorize("primary", base);
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  align-items: center;
  @include border-radius(99999px);
}

._sidebar-item {
  display: flex;
  width: 100%;
  column-gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  align-items: center;
  &:hover {
    background-color: colorize("primary", base);
  }
  @include border-radius(99999px);
  @include transition(all 300ms ease-out);
}

._dropdown-container {
  overflow-x: hidden;
  position: absolute;
  top: 2.5rem;
  left: 0;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  background-color: colorize("primary", base);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  z-index: 50;

  & ._dropdown-item {
    text-align: left;
    &:hover {
      text-decoration-line: underline;
      -moz-text-decoration-line: underline;
    }
  }
}
