@use "./main" as *;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* CSS Library */
@import "@mantine/core/styles.css";
@import "@mantine/charts/styles.css";
@import "@mantine/dates/styles.css";
@import "react-toastify/dist/ReactToastify.css";
/* CSS Library */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: $color-default !important;
    background: $background !important;
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0.025rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    letter-spacing: 0.05rem;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .link:hover {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
  }

  ._skeleton::before {
    background-color: $skeleton-before !important;
  }

  ._skeleton::after {
    background-color: $skeleton-after !important;
  }
}
