/* chart tooltip */
.recharts-tooltip-cursor {
  fill: transparent !important;
}

/* legends */
/* .m_17da7e62 {
  @apply text-white;
} */

@media (hover: hover) {
  :where([data-mantine-color-scheme="light"]) .m_17da7e62:where(:hover) {
    background-color: var(--mantine-color-gray-0);
    color: black;
  }
}
/* legends */

/* Datepicker */
._datepicker-date[data-weekend="true"] {
  color: $danger-base !important;
}

._datepicker-date[data-in-range="true"] {
  background-color: $primary-light !important;
}

._datepicker-date[data-selected="true"] {
  background-color: $primary-base !important;
}

._datepicker-date[data-weekend="true"][data-selected="true"] {
  color: white !important;
}
