$test: red;
:root {
  /* basic color */
  --background: #121212;
  --foreground: #1f1f1f;
  --primary-text-color: #f3f3f3;
  --secondary-text-color: #b0b0b0;
  --test: #{$test};
  /* basic color */

  /* navigation */
  --sidebar: #1f1f1f;
  --sidebar-foreground: #4caf50;
  --navbar: #1f1f1f;
  /* navigation */

  /* scrollbar */
  --scrollbar-thumb-color: #1f1f1f;
  --scrollbar-track-color: #444444;
  --scrollbar-hover-color: #1f1f1f;
  /* scrollbar */

  /* Input Text */
  --input-background: #f3f3f3;
  --input-color-text: #1f1f1f;
  --input-focus-border: #4caf50;
  /* Input Text */

  /* Colors */
  --clr-primary: #4caf50;
  --clr-primary-30: #4caf4f3a;
  --clr-primary-hover: #4caf4fab;
  --clr-danger: #d61717;
  --clr-danger-hover: #d61717b0;
  /* Colors */

  /* Skeleton color */
  --skeleton-before: #525252;
  --skeleton-after: #2b2b2b;
  /* Skeleton color */
}
