@use "../mixins/border" as *;
@use "../mixins/transition" as *;
@use "../functions/color" as *;
@use "../variables/button" as *;

@mixin button-base() {
  & {
    cursor: pointer;
    padding-inline: $button-px;
    @include border-radius($button-radius);
    @include transition($button-transition);
  }

  &:disabled {
    background-color: colorize("gray", 30) !important;
    color: colorize("gray", dark);
    cursor: not-allowed;
    border: none;
    &:hover {
      background-color: colorize("gray", 30) !important;
    }
  }
}
