@use "../abstracts/index" as *;

@each $theme, $color in $theme-colors {
  .clr--#{"" + $theme} {
    color: $color;
  }

  .bg--#{"" + $theme} {
    background-color: $color;
  }
}

.clr--base {
  color: $color-default;
}

.clr--subtitle {
  color: colorize("gray", 30);
}
